<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.simple.mapper.UserMapper">
    <resultMap id="userMap" type="tk.mybatis.simple.model.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="userParamMap" type="tk.mybatis.simple.model.rest.param.UserParam">
        <result column="id" jdbcType="INTEGER" property="authorityId"/>
        <result column="id" jdbcType="INTEGER" property="roleId"/>
        <result column="name" jdbcType="VARCHAR" property="authorityName"/>
    </resultMap>

    <!--根据id查询-->
    <select id="listById" resultMap="userMap">
        SELECT
        id,
        user_name,
        password,
        mail,
        intro,
        head_portrait,
        create_time,
        update_time
        FROM user WHERE
        id = #{id}
    </select>

    <!--查询全部-->
    <select id="listAll" resultMap="userMap">
        SELECT * FROM user
    </select>

    <!--链表查询-->
    <select id="listParam" resultMap="userParamMap">
        SELECT
        u.id,
        user_name,
        `password`,
        mail,
        intro,
        head_portrait,
        create_time,
        update_time,
        a.`name`
        FROM
        `user` AS u
        LEFT JOIN user_role AS ur ON ur.user_id = u.id
        LEFT JOIN role_authority AS ra ON ra.role_id = ur.role_id
        LEFT JOIN authority AS a ON a.id = #{authority.id}
        WHERE
        u.id = #{user.id}
    </select>

    <insert id="add">
        INSERT INTO `user`(
        `user_name`,
        `password`,
        `mail`,
        `intro`,
        `head_portrait`,
        `create_time`,
        `update_time`
        )
        VALUES
        (
        #{userName},
        #{password},
        #{mail},
        #{intro},
        #{headPortrait},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <update id="update">
        UPDATE `user`
        SET `user_name` = #{userName},
        `password` = #{password},
        `mail` = #{mail},
        `intro` = #{intro},
        `head_portrait` = #{headPortrait},
        `create_time` = #{updateTime}
        WHERE
        id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM `user` WHERE id = #{id}
    </delete>
</mapper>
